
nav{
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.9);  
}
.nav-links{
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 550px){
    nav{
        display: flex;
        flex-direction: column;
    }
}