*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
}
a{
    text-decoration: none;
    color: black;
}
.darkModeApp{
    background-color: black;
    color: white;
}
.darkModeApp a{
    color: white;
}
.darkModeApp nav{
    box-shadow: 1px 1px 5px white;
}
.theme{
    cursor: pointer;
}